<div class="p-3"></div>
<div class="container">
  <div class="row justify-content-center d-flex">
    <div class="col-md-4">
      <div *ngFor="let cat of cats">
        <img id="catImage" class="img-fluid" src="{{ cat.images[0] }}" />
      </div>
    </div>
    <div class="p-3"></div>
    <div class="col-md-12">
      <div id="catName" class="text-center" *ngFor="let cat of cats">
        <h1>{{ cat.name }}</h1>
      </div>
      <div class="p-3"></div>
      <div class="row justify-content-center d-flex text-center">
        <div class="col-md-4">
          <div id="thatsAllContainer" *ngFor="let cat of cats">
            <i class="fa-solid fa-cake-candles px-2 fa-2x"></i>
            <i>{{ cat.birth }}</i>
          </div>
          <div class="p-2"></div>
        </div>
        <div class="col-md-4">
          <div id="thatsAllContainer" *ngFor="let cat of cats">
            <i class="fa-solid fa-spa px-2 fa-2x"></i>
            <i>{{ cat.breed }}</i>
          </div>
          <div class="p-2"></div>
        </div>
        <div class="col-md-4">
          <div id="thatsAllContainer" *ngFor="let cat of cats">
            <i class="fa-solid fa-calendar px-2 fa-2x"></i>
            <i>{{ year }}</i>
          </div>
          <div class="p-2"></div>
        </div>
      </div>
      <div class="p-3"></div>
      <div class="container pJustify" *ngFor="let cat of cats">
        <p>{{ cat.description }}</p>
      </div>
    </div>
  </div>
</div>
<div class="p-3"></div>
