<div class="p-3"></div>
<div class="container">
  <h3>Create</h3>
  <mdb-tabs>
    <mdb-tab title="Dogs">
      <form #newDog="ngForm" (ngSubmit)="onSubmitNewDog(newDog)">
        <div class="row">
          <div class="col-md-4">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                name="name"
                class="form-control"
                ngModel
              />
              <label mdbLabel class="form-label" for="form3Example1"
                >Dog Name</label
              >
            </mdb-form-control>
            <div class="p-2"></div>
          </div>
          <div class="col-md-4">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                name="breed"
                class="form-control"
                ngModel
              />
              <label mdbLabel class="form-label" for="form3Example1"
                >Dog Breed</label
              >
            </mdb-form-control>
            <div class="p-2"></div>
          </div>
          <div class="col-md-4">
            <mdb-form-control>
              <input
                mdbInput
                type="date"
                name="birth"
                class="form-control"
                ngModel
              />
            </mdb-form-control>
            <div class="p-2"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                name="microchip"
                class="form-control"
                ngModel
              />
              <label mdbLabel class="form-label" for="form3Example1"
                >Microchip number</label
              >
            </mdb-form-control>
            <div class="p-2"></div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <mdb-form-control>
                  <input
                    mdbInput
                    type="file"
                    multiple
                    name="images"
                    class="form-control"
                    (change)="onDogFileSelected($event)"
                  />
                </mdb-form-control>
                <div class="p-2"></div>
              </div>
              <div class="col-md-6">
                <button
                  type="button"
                  (click)="uploadDogImages()"
                  class="btn btn-primary btn-rounded"
                  [disabled]="uploadDogImagesButton"
                >
                  Upload images
                </button>
              </div>
            </div>
          </div>
          <div class="p-2"></div>
        </div>

        <mdb-form-control>
          <textarea
            mdbInput
            type="text"
            name="description"
            class="form-control"
            ngModel
            rows="10"
          ></textarea>
          <label mdbLabel class="form-label" for="form3Example1"
            >Description</label
          >
        </mdb-form-control>

        <div class="p-2"></div>

        <div class="d-inline me-2">
          <a>Is alive?</a>
        </div>
        <div class="form-check form-check-inline">
          <input
            mdbCheckbox
            class="form-check-input"
            type="checkbox"
            name="alive"
            value="option1"
            ngModel
          />
          <label class="form-check-label" for="inlineCheckbox1">Yes</label>
        </div>

        <div class="p-2"></div>

        <button
          type="submit"
          [disabled]="newDogButton"
          class="btn btn-success btn-rounded"
        >
          Create
        </button>
      </form>
    </mdb-tab>

    <mdb-tab title="Cats">
      <form #newCat="ngForm" (ngSubmit)="onSubmitNewCat(newCat)">
        <div class="row">
          <div class="col-md-4">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                name="name"
                class="form-control"
                ngModel
              />
              <label mdbLabel class="form-label" for="form3Example1"
                >Cat Name</label
              >
            </mdb-form-control>
            <div class="p-2"></div>
          </div>
          <div class="col-md-4">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                name="breed"
                class="form-control"
                ngModel
              />
              <label mdbLabel class="form-label" for="form3Example1"
                >Cat Breed</label
              >
            </mdb-form-control>
            <div class="p-2"></div>
          </div>
          <div class="col-md-4">
            <mdb-form-control>
              <input
                mdbInput
                type="date"
                name="birth"
                class="form-control"
                ngModel
              />
            </mdb-form-control>
            <div class="p-2"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                name="microchip"
                class="form-control"
                ngModel
              />
              <label mdbLabel class="form-label" for="form3Example1"
                >Microchip number</label
              >
            </mdb-form-control>
            <div class="p-2"></div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <mdb-form-control>
                  <input
                    mdbInput
                    type="file"
                    multiple
                    name="images"
                    class="form-control"
                    (change)="onCatFileSelected($event)"
                  />
                </mdb-form-control>
                <div class="p-2"></div>
              </div>
              <div class="col-md-6">
                <button
                  type="button"
                  (click)="uploadCatImages()"
                  class="btn btn-primary btn-rounded"
                  [disabled]="uploadCatImagesButton"
                >
                  Upload images
                </button>
              </div>
            </div>
          </div>
          <div class="p-2"></div>
        </div>

        <mdb-form-control>
          <textarea
            mdbInput
            type="text"
            name="description"
            class="form-control"
            ngModel
            rows="10"
          ></textarea>
          <label mdbLabel class="form-label" for="form3Example1"
            >Description</label
          >
        </mdb-form-control>

        <div class="p-2"></div>

        <div class="d-inline me-2">
          <a>Is alive?</a>
        </div>
        <div class="form-check form-check-inline">
          <input
            mdbCheckbox
            class="form-check-input"
            type="checkbox"
            name="alive"
            value="option1"
            ngModel
            [checked]="newDogChecked"
          />
          <label class="form-check-label" for="inlineCheckbox1">Yes</label>
        </div>

        <div class="p-2"></div>

        <button
          type="submit"
          [disabled]="newCatButton"
          class="btn btn-success btn-rounded"
        >
          Create
        </button>
      </form>
    </mdb-tab>

    <mdb-tab title="Animals">
      <form #newAnimal="ngForm" (ngSubmit)="onSubmitNewAnimal(newAnimal)">
        <div class="row">
          <div class="col-md-4">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                name="name"
                class="form-control"
                ngModel
              />
              <label mdbLabel class="form-label" for="form3Example1"
                >Animal Name</label
              >
            </mdb-form-control>
            <div class="p-2"></div>
          </div>
          <div class="col-md-4">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                name="breed"
                class="form-control"
                ngModel
              />
              <label mdbLabel class="form-label" for="form3Example1"
                >Animal Breed</label
              >
            </mdb-form-control>
            <div class="p-2"></div>
          </div>
          <div class="col-md-4">
            <mdb-form-control>
              <input
                mdbInput
                type="date"
                name="birth"
                class="form-control"
                ngModel
              />
            </mdb-form-control>
            <div class="p-2"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <mdb-form-control>
              <input
                mdbInput
                type="text"
                name="microchip"
                class="form-control"
                ngModel
              />
              <label mdbLabel class="form-label" for="form3Example1"
                >Microchip number</label
              >
            </mdb-form-control>
            <div class="p-2"></div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <mdb-form-control>
                  <input
                    mdbInput
                    type="file"
                    multiple
                    name="images"
                    class="form-control"
                    (change)="onAnimalFileSelected($event)"
                  />
                </mdb-form-control>
                <div class="p-2"></div>
              </div>
              <div class="col-md-6">
                <button
                  type="button"
                  (click)="uploadAnimalImages()"
                  class="btn btn-primary btn-rounded"
                  [disabled]="uploadAnimalImagesButton"
                >
                  Upload images
                </button>
              </div>
            </div>
          </div>
          <div class="p-2"></div>
        </div>

        <mdb-form-control>
          <textarea
            mdbInput
            type="text"
            name="description"
            class="form-control"
            ngModel
            rows="10"
          ></textarea>
          <label mdbLabel class="form-label" for="form3Example1"
            >Description</label
          >
        </mdb-form-control>

        <div class="p-2"></div>

        <div class="d-inline me-2">
          <a>Is alive?</a>
        </div>
        <div class="form-check form-check-inline">
          <input
            mdbCheckbox
            class="form-check-input"
            type="checkbox"
            name="alive"
            value="option1"
            ngModel
          />
          <label class="form-check-label" for="inlineCheckbox1">Yes</label>
        </div>

        <div class="p-2"></div>

        <button
          type="submit"
          [disabled]="newAnimalButton"
          class="btn btn-success btn-rounded"
        >
          Create
        </button>
      </form>
    </mdb-tab>
  </mdb-tabs>
</div>

<div class="p-5"></div>

<div class="container">
  <h3>Show · Edit · Delete</h3>
  <mdb-tabs>
    <mdb-tab title="Dog">
      <table class="table align-middle table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Alive</th>
            <th scope="col">Microchip</th>
            <th scope="col">Show</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody *ngFor="let dogs of allDogs">
          <tr *ngFor="let dog of dogs">
            <th>{{ dog.name }}</th>
            <td>{{ dog.birth }}</td>
            <td>{{ dog.alive }}</td>
            <td>{{ dog.microchip }}</td>
            <td><a class="text-secondary fw-bold" (click)="checkDog(dog.images[0])">Show</a></td>
            <td><a class="text-warning fw-bold" (click)="editDog(dog.id, dog.microchip, dog.description, dog.alive, dog)">Edit</a></td>
            <td><a class="text-danger fw-bold" (click)="deleteDog(dog.id)">Delete</a></td>
          </tr>
        </tbody>
      </table>
      <nav>
        <ul class="pagination">
          <li class="page-item">
            <button [hidden]="previousDogsButton" class="page-link" (click)="previousDogs()">Previous</button>
          </li>
          <li class="page-item">
            <button [hidden]="nextDogsButton" class="page-link" (click)="nextDogs()">Next</button>
          </li>
        </ul>
      </nav>

      <div class="p-2"></div>

      <form #updateDog="ngForm" (ngSubmit)="onSubmitUpdateDog(updateDog)">
        <div class="col-md-4">
          <mdb-form-control>
            <input
              mdbInput
              type="text"
              name="microchip"
              class="form-control"
              ngModel
              value="{{ microchipDogNumberEdit }}"
            />
            <label mdbLabel class="form-label" for="form3Example1"
              >Microchip number</label
            >
          </mdb-form-control>
        </div>
        <div class="p-2"></div>
        <mdb-form-control>
          <textarea
            id="descriptionEdit"
            mdbInput
            type="text"
            name="description"
            class="form-control"
            ngModel
            rows="10"
            value="{{ textareaDogEdit }}"
          ></textarea>
          <label mdbLabel class="form-label" for="form3Example1"
            >Description</label
          >
        </mdb-form-control>
        <div class="p-2"></div>
        <div class="d-inline me-2">
          <a>Is alive?</a>
        </div>
        <div class="form-check form-check-inline">
          <input
            mdbCheckbox
            class="form-check-input"
            type="checkbox"
            name="alive"
            value="option1"
            ngModel
            [checked]="dogUpdateCheckBox"
          />
          <label class="form-check-label" for="inlineCheckbox1">Yes</label>
        </div>
        <div class="p-2"></div>
        <button
        type="submit"
        class="btn btn-success btn-rounded"
      >
        Update
      </button>
      </form>
    </mdb-tab>
    <mdb-tab title="Cat"></mdb-tab>
    <mdb-tab title="Animal"></mdb-tab>
  </mdb-tabs>
</div>

<div class="p-5"></div>
