<div class="p-3"></div>
<div class="container">
  <div id="dogHomeRow" class="row d-flex justify-content-center">
    <div class="col-md-6">
      <h1 class="display-4">Find dog You gonna love</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur
        blanditiis accusamus ut non totam! Earum eius tenetur placeat, eos
        deleniti et, debitis laborum sunt vitae modi voluptates quos facere aut!
      </p>
      <button type="button" class="btn btn-outline-primary btn-rounded" data-mdb-ripple-color="dark">Find more</button>
    </div>
    <div class="col-md-6 text-center">
      <img id="dogHome" class="img-fluid" src="../../assets/dog.png" />
    </div>
  </div>
</div>
